*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#homepage__container{
  height: 90vh;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content{
  width: 50%;
  text-align: center;
  margin: auto;
}
.content h1{
  color: #fff;
  font-weight: bold;
  font-size: 4em;
}
.content h2{
  color: #fff;
  font-weight: 600;
  font-size: 1.5em;
  margin-bottom: 2em;
}
.content p{
  color: #ffffff;
  font-weight: 500;
  text-align: justify;
  font-size: 1.3em;
}
.image{
  height: 100px;
  width: 100px;
  text-align: center;
  margin: auto;
  padding: 14px;
}
.card{
  padding: 12px;
  margin: 14px 39px;
  box-shadow: 0 15px 14px 0 rgba(0, 0, 0, 0.5), inset  0 -8px 16px 0 #ffffff;
}
.card-title{
  text-align: center;
  font-weight: bold;
  font-size: 1.4em;
}
.projects__container{
  background-color: #000;
  margin: auto;
}
.link{
  color: #000;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  background-color: #fff;
}
@media  screen and (max-width:768px){
  .content{
    width: 100%;
  }
  #homepage__container{
    height: 100%;
  }
  .content h1{
    font-size: 3em;
  }
  
}